@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

h1 {
    color: $text-color;
}

.my-sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;

    background: rgb(255,141,0);
background: linear-gradient(180deg, rgba(255,141,0,1) 15%, rgba(255,192,0,1) 18%);
}

.fixed-container{
    width: calc(100% - 200px);
}
